Node-RED Flows/flows.json
[{"id":"8173563a.c60098","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"86b0312f.848388","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Lucida Sans Unicode,Lucida Grande,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#3f8194","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Warehouse Management System","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5f5d839c.2bc0a4","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4820ef46.57ece","type":"ui_tab","z":"","name":"Warehouse Manager","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5242f3c4.eb88b4","type":"ui_group","z":"","name":"Warehouse Gate","tab":"4820ef46.57ece","order":1,"disp":true,"width":"10","collapse":false},{"id":"87019803.d2b4a8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"warehouseDB","tz":""},{"id":"76e13537.596114","type":"ui_group","z":"","name":"Warehouse Storage","tab":"4820ef46.57ece","order":2,"disp":true,"width":"16","collapse":false},{"id":"7e45332.81ee9cc","type":"ui_spacer","name":"spacer","group":"5242f3c4.eb88b4","order":5,"width":1,"height":"2"},{"id":"3cd4e49a.17ce8c","type":"mqtt in","z":"8173563a.c60098","name":"Sensor - RFID","topic":"warehouse/rfid","qos":"2","datatype":"auto","broker":"5f5d839c.2bc0a4","x":90,"y":140,"wires":[["97a603f8.a65048"]]},{"id":"9d9fcdd2.9498d","type":"debug","z":"8173563a.c60098","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":20,"wires":[]},{"id":"e68d816c.a0a6f","type":"ui_text","z":"8173563a.c60098","group":"5242f3c4.eb88b4","order":3,"width":"0","height":"0","name":"Show UID Tag","label":"Latest RFID card detected:","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":60,"wires":[]},{"id":"97a603f8.a65048","type":"function","z":"8173563a.c60098","name":"Calculate timestamp","func":"var d = new Date();\nvar year = d.getFullYear();\nvar month =d.getMonth()+1;\nvar date = d.getDate();\nvar hour = d.getHours();\nvar min = d.getMinutes();\n\nvar zero =\"0\";\n\nif (hour<10){\n    hour = zero.concat(hour);\n}\nif (min<10){\n    min = zero.concat(min);\n}\n\nyear = year.toString();\nmonth = month.toString();\ndate = date.toString();\nhour = hour.toString();\nmin = min.toString();\n\nmsg.tag = msg.payload;\n\nvar timestamp =\"\";\ntimestamp = timestamp.concat(date,\"/\", month,\"/\", year,\" \", hour,\":\", min);\nmsg.timestamp = timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["9d9fcdd2.9498d","e68d816c.a0a6f","7cf73ee9.c0ce4"]]},{"id":"df1760c4.9fb43","type":"function","z":"8173563a.c60098","name":"Inventory Count","func":"var current_inventory_count = msg.payload[0][\"COUNT(*)\"];\nmsg.payload = current_inventory_count;\nglobal.set('count',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":680,"wires":[["d8f23ecf.36d348","ac430fe0.b459f","29b2ec82.2316e4"]]},{"id":"88be2403.35e688","type":"mysql","z":"8173563a.c60098","mydb":"87019803.d2b4a8","name":"warehouseDB","x":820,"y":140,"wires":[["aac1ee5a.37fb4"]]},{"id":"20c0a00.d30e36","type":"function","z":"8173563a.c60098","name":"Count the Inventory","func":"msg.topic = \"SELECT COUNT(*) FROM CurrentInventory;\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":680,"wires":[["f55a4501.8f4118"]]},{"id":"815ee9a8.7cf8d8","type":"mysql","z":"8173563a.c60098","mydb":"87019803.d2b4a8","name":"","x":1080,"y":300,"wires":[["645755ee.3df7ac"]]},{"id":"645755ee.3df7ac","type":"debug","z":"8173563a.c60098","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":300,"wires":[]},{"id":"e2edd32d.a7809","type":"inject","z":"8173563a.c60098","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":680,"wires":[["20c0a00.d30e36","989bb846.02205"]]},{"id":"f55a4501.8f4118","type":"mysql","z":"8173563a.c60098","mydb":"87019803.d2b4a8","name":"","x":580,"y":680,"wires":[["df1760c4.9fb43"]]},{"id":"d8f23ecf.36d348","type":"ui_chart","z":"8173563a.c60098","name":"","group":"76e13537.596114","order":1,"width":"16","height":"5","label":"Current Invetory Graph","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#44738e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1170,"y":820,"wires":[[]]},{"id":"ac430fe0.b459f","type":"ui_gauge","z":"8173563a.c60098","name":"","group":"76e13537.596114","order":2,"width":"8","height":"5","gtype":"donut","title":"Current Inventory Count","label":"Packages","format":"{{value}}","min":0,"max":"10","colors":["#425173","#504b9a","#4554bc"],"seg1":"3","seg2":"7","x":1170,"y":760,"wires":[]},{"id":"a1606ea.197fc9","type":"ui_text","z":"8173563a.c60098","group":"76e13537.596114","order":3,"width":"8","height":"2","name":"","label":"Storage is at: ","format":"{{msg.payload}} %","layout":"col-center","x":600,"y":760,"wires":[]},{"id":"d25d6021.63dcd8","type":"ui_text","z":"8173563a.c60098","group":"5242f3c4.eb88b4","order":1,"width":0,"height":0,"name":"Latest package movement","label":"Latest package transaction:","format":"{{msg.ordernum}} ","layout":"row-spread","x":480,"y":300,"wires":[]},{"id":"ca6d507a.db1b88","type":"ui_text_input","z":"8173563a.c60098","name":"","label":"Search Order History","tooltip":"Check the transaction history of an order","group":"76e13537.596114","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":140,"y":460,"wires":[["c81063cf.3b5e58"]]},{"id":"c81063cf.3b5e58","type":"function","z":"8173563a.c60098","name":"Search Order Query","func":"var tag = msg.payload;\nmsg.topic = \"SELECT * FROM TransactionHistory WHERE ORDER_NO LIKE '\"+ tag +\"';\"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":460,"wires":[["afead20c.e0e81"]]},{"id":"afead20c.e0e81","type":"mysql","z":"8173563a.c60098","mydb":"87019803.d2b4a8","name":"","x":600,"y":460,"wires":[["ad25e70b.ac54d8","e812adc1.bbcc6","32710256.d9ddbe","6dd59901.7b8b7"]]},{"id":"ad25e70b.ac54d8","type":"debug","z":"8173563a.c60098","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":400,"wires":[]},{"id":"e812adc1.bbcc6","type":"ui_text","z":"8173563a.c60098","group":"76e13537.596114","order":8,"width":0,"height":0,"name":"","label":"Order Number:","format":"{{msg.payload[0].ORDER_NO}}","layout":"row-spread","x":860,"y":460,"wires":[]},{"id":"32710256.d9ddbe","type":"ui_text","z":"8173563a.c60098","group":"76e13537.596114","order":8,"width":0,"height":0,"name":"","label":"Date In:","format":"{{msg.payload[0].DATE_IN}}","layout":"row-spread","x":840,"y":520,"wires":[]},{"id":"6dd59901.7b8b7","type":"ui_text","z":"8173563a.c60098","group":"76e13537.596114","order":9,"width":0,"height":0,"name":"","label":"Date Out: ","format":"{{msg.payload[0].DATE_OUT}}","layout":"row-spread","x":840,"y":580,"wires":[]},{"id":"989bb846.02205","type":"function","z":"8173563a.c60098","name":"Calculate percentage","func":"var count = global.get('count');\nvar maxcap = 10;\nmsg.payload = Math.round(count*100/maxcap);\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":760,"wires":[["a1606ea.197fc9","e6151ca7.4384e"]]},{"id":"e6151ca7.4384e","type":"debug","z":"8173563a.c60098","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":840,"wires":[]},{"id":"29b2ec82.2316e4","type":"debug","z":"8173563a.c60098","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1080,"y":640,"wires":[]},{"id":"7cf73ee9.c0ce4","type":"function","z":"8173563a.c60098","name":"Search if tag matches an order","func":"var tag = msg.payload;\nmsg.topic = \"SELECT * FROM ExpectedDeliveries WHERE UID_TAG LIKE '\"+ tag +\"';\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":140,"wires":[["88be2403.35e688"]]},{"id":"95af7eb4.9e1c08","type":"function","z":"8173563a.c60098","name":"Search if ti is already in","func":"//IF IT MATCHES\nif (msg.ordernum !== undefined){\nvar order = msg.ordernum;\n//SEARCH IF IT IS ALREADY IN\nmsg.topic = \"SELECT * FROM CurrentInventory WHERE ORDER_NO LIKE '\"+ order +\"';\"\nmsg.payload = \"Accepted\";\nreturn msg;   \n  \n}\nelse if (msg.ordernum === undefined){\nmsg.topic =\"\";\nmsg.payload = \"Denied\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":140,"wires":[["34111aa.46456e6","b649966d.0295a"]]},{"id":"34111aa.46456e6","type":"mysql","z":"8173563a.c60098","mydb":"87019803.d2b4a8","name":"","x":740,"y":220,"wires":[["a4820046.9142f","9a9e878d.7a01d8"]]},{"id":"aac1ee5a.37fb4","type":"change","z":"8173563a.c60098","name":"Save the Order#","rules":[{"t":"move","p":"payload[0].ORDER_NO","pt":"msg","to":"ordernum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":140,"wires":[["95af7eb4.9e1c08","b5ad82eb.ffc65"]]},{"id":"a4820046.9142f","type":"function","z":"8173563a.c60098","name":"Is it in the CurrentInventory? ","func":"//IF NO\nif (msg.payload === undefined || msg.payload.length === 0){\n    var order = msg.ordernum;\n    msg.payload = \"Incoming <-\";\n    var date_in = msg.timestamp;\n    msg.topic = \"INSERT INTO `CurrentInventory`(`ORDER_NO`, `DATE_IN`) VALUES ('\"+ order +\"','\"+ date_in +\"');\"    \n\n}\n//IF YES\nelse{\n    order = msg.payload[0].ORDER_NO;\n    msg.payload = \"Outgoing ->\";\n    msg.topic = \"DELETE FROM CurrentInventory WHERE ORDER_NO = '\"+ order +\"';\"\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["4c74fbe1.e4dfe4","d25d6021.63dcd8","5443d33b.627e14"]]},{"id":"4c74fbe1.e4dfe4","type":"mysql","z":"8173563a.c60098","mydb":"87019803.d2b4a8","name":"","x":120,"y":300,"wires":[[]]},{"id":"b5ad82eb.ffc65","type":"debug","z":"8173563a.c60098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":20,"wires":[]},{"id":"9a9e878d.7a01d8","type":"function","z":"8173563a.c60098","name":"Is it in the TransactionHistory?","func":"var order = msg.ordernum;\nvar date = msg.timestamp;\n\n//IF NO\nif (msg.payload === undefined || msg.payload.length === 0){\n    \n    msg.topic = \"INSERT INTO `TransactionHistory`(`ORDER_NO`, `DATE_IN`, `DATE_OUT`) VALUES ('\"+ order +\"','\"+ date +\"','');\"   \n\n}\n//IF YES\nelse{\n    msg.topic = \"UPDATE `TransactionHistory` SET `DATE_OUT` = '\"+ date +\"'  WHERE `ORDER_NO` = '\"+ order +\"' AND `DATE_OUT` ='';\"\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1070,"y":240,"wires":[["815ee9a8.7cf8d8"]]},{"id":"5443d33b.627e14","type":"ui_text","z":"8173563a.c60098","group":"5242f3c4.eb88b4","order":2,"width":0,"height":0,"name":"","label":"Status of the latest package:","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":340,"wires":[]},{"id":"b649966d.0295a","type":"ui_text","z":"8173563a.c60098","group":"5242f3c4.eb88b4","order":4,"width":0,"height":0,"name":"","label":"Status of the latest RFID card:","format":"{{msg.payload}}","layout":"row-spread","x":1450,"y":40,"wires":[]},{"id":"46cb06d4.6ae18","type":"ui_switch","z":"8173563a.c60098","name":"","label":"Recieve notication when package is leaving","tooltip":"You will be notified by email","group":"5242f3c4.eb88b4","order":6,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":940,"wires":[[]]},{"id":"8ceae03e.ce50c8","type":"ui_switch","z":"8173563a.c60098","name":"","label":"Lock the warehouse gates","tooltip":"","group":"5242f3c4.eb88b4","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":520,"y":940,"wires":[[]]},{"id":"ec88cf33.31f47","type":"ui_switch","z":"8173563a.c60098","name":"","label":"Recieve notification when almost full","tooltip":"","group":"76e13537.596114","order":5,"width":"8","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":830,"y":940,"wires":[[]]}]